body {
    background-color: #457B9D;
}

/* navbar */
a {
    text-decoration: none;
    color: #92bfb1;
  }
  a:hover {
    background: #92bfb1;
    color: #333333;
  }
  
  .sticky {
    position: fixed;
    z-index: 10;
  }
  
  .navbar--container {
    top: 1%;
    background: #f1faee;
    height: 220px;
    width: 90px;
    box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
  }
  
  .navbar--icon {
    margin-top: 10px;
    margin-left: 60%;
    font-size: 1em;
  }
  .navbar--icon:hover {
    color: #92bfb1;
    cursor: pointer;
  }
  
  .navbar--title {
    margin-left: 1%;
    margin-top: 35px;
  }
  .navbar--title h4 {
    writing-mode: vertical-rl;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.34em;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  
  .nav--open {
    height: 100vh;
    width: 300px;
    background: #F1FAEE;
    transition: all 0.4s ease-out;
    opacity: 1;
    box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
  }
  
  .nav--open-icon {
    text-align: right;
    padding: 20px;
  }
  .nav--open-icon i {
    font-size: 1.8em;
    color: #92bfb1;
  }
  .nav--open-icon i:hover {
    color: #333333;
    cursor: pointer;
  }
  .nav--open-title {
    font-family: "Raleway", serif;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 35%;
  }
  .nav--open-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
  }
  .nav--open-menu a {
    font-size: 2em;
    font-weight: 100;
    font-family: "Raleway", serif;
    padding: 15px 0;
  }
  
  .close {
    transform: translateX(-300px);
    transition: all 0.4s ease-out;
    opacity: 0;
    z-index: 11;
  }

.welcome-banner {
    position: relative;
    text-align: center;
    color: white;
    margin: 0 0 50px 0;
    padding: 0;
    font-size: 60px;
}

.welcome-banner img{
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.raleway-semibold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.raleway-light {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.heading{
    text-align: center;
    margin: 50px 300px 50px 300px;
}

.heading h1{
    font-size: 45px;
}

.intro{
    text-align: center;
    margin: 50px 150px 80px 150px;
}

.intro h2{
    font-size: 25px;
}

.coming-up{
    text-align: center;
    font-size: 35px;
    margin: 20px 0px 50px 0px;
}

.carousel-div{
    margin: 20px 200px 20px 200px;
}

.caption-heading{
    font-size: 30px;
}

.caption-text{
    font-size: 25px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 100px 50px 100px;
}
  
.flex-image {
    width: 50%;
}

.flex-image img{
    width: 100%;
    height: auto;
}
  
.flex-text {
    width: 50%;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.footer{
    background-color: #457B9D;
    padding: 50px 50px;
    color: #F1FAEE;
    font-size: 20px;
    text-align: center;
}

.book-text{
    text-align: center;
    margin: 50px 150px 50px 150px;
}

.book-text h2{
    font-size: 25px;
}

.tickets-button{
    font-size: 40px;
    text-align: center;
    padding: 20px 50px 20px 50px;
    background-color: #e63946;
    color: #F1FAEE;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 50px;
}

/* footer */
.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    background-color: #f1faee;
  }
  /* FontAwesome(fa) icons */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3b5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55acee;
    color: white;
  }
 
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
 
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }
  
  