/* Global settings */
h1, h2{
  position: relative;
  color: #000000;
  width: 800px;
  float: left;
  text-align: justify;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

h3 {
  position: center;
  color: #000000;

  font-family: "Raleway", sans-serif;
 
}

* {
  box-sizing: border-box;
}
/* Welcome to text */
.main-content {
  text-align: center;
  font: "Raleway", serif;
}
/* expo logo image */
.hotel-logo-container {
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logo-image img {
  max-width: 100%;
  height: auto;
}
/* navbar */
a {
  text-decoration: none;
  color: #92bfb1;
}
a:hover {
  background: #92bfb1;
  color: #333333;
}
.sticky {
  position: fixed;
  z-index: 10;
}
.navbar--container {
  top: 10%;
  background: #f1faee;
  height: 220px;
  width: 90px;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
}
.navbar--icon {
  margin-top: 10px;
  margin-left: 60%;
  font-size: 1em;
}
.navbar--icon:hover {
  color: #92bfb1;
  cursor: pointer;
}
.navbar--title {
  margin-left: 1%;
  margin-top: 35px;
}
.navbar--title h4 {
  writing-mode: vertical-rl;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  font-size: 0.9em;
}
.nav--open {
  height: 100vh;
  width: 300px;
  background: #f1faee;
  transition: all 0.4s ease-out;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
}
.nav--open-icon {
  text-align: right;
  padding: 20px;
}
.nav--open-icon i {
  font-size: 1.8em;
  color: #92bfb1;
}
.nav--open-icon i:hover {
  color: #333333;
  cursor: pointer;
}
.nav--open-title {
  font-family: "Raleway", serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 35%;
}
.nav--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.nav--open-menu a {
  font-size: 2em;
  font-weight: 100;
  font-family: "Raleway", serif;
  padding: 15px 0;
}
.close {
  transform: translateX(-300px);
  transition: all 0.4s ease-out;
  opacity: 0;
  z-index: 11;
}

/* Book now menu */
.booknow--open-menu a {
  text-decoration: none;
  color: #92bfb1;
}
.booknow--open-menu a:hover {
  background: #92bfb1;
  color: #333333;
}
.booknow--container {
  right: 0;
  top: 10%;
  background: #f1faee;
  height: 220px;
  width: 90px;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
}
.booknow--icon {
  margin-top: 24px;
  margin-left: 25%;
  font-size: 1em;
}
.booknow--icon:hover {
  color: #92bfb1;
  cursor: pointer;
}
.booknow--title {
  margin-left: 27px;
  margin-top: 35px;
}
.booknow--title h4 {
  writing-mode: vertical-rl;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  font-size: 0.9em;
}
.booknow--open {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  width: auto;
  background: #ffffff;
  transition: all 0.4s ease-out;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
  right: 0;
}
.booknow--open-icon {
  text-align: right;
  padding: 20px;
}
.booknow--open-icon i {
  font-size: 1.8em;
  color: #92bfb1;
}
.booknow--open-icon i:hover {
  color: #333333;
  cursor: pointer;
}
.booknow--open-title {
  font-family: "Raleway", serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 1%;
}
.booknow--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.booknow--open-menu a {
  font-size: 2em;
  font-weight: 100;
  font-family: "Raleway", serif;
  padding: 15px 0;
}
.booknow--close {
  transform: translateX(2000px);
  transition: all 0.4s ease-out;
  opacity: 0;
}

/* booking form */
.booking-form {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background: #fff;
}
.elem-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
}
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}
button {
  background: #457b9d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
/* Services cards */
.background {
  display: grid;
  place-items: center;
  height: 90vh;
  padding: 5vh 0 0 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1200px;
}
.img-card {
  position: relative;
  left: 0px;
  width: 120px;
  border-radius: 1em;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  flex: 0.25;
}
.img-card img {
  min-height: 80vh;
}
.img-card:hover {
  flex: 2;
  cursor: pointer;
}

/* Lightbox */
.row > .lightbox-column {
  padding: 0 1px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.lightbox-column {
  float: left;
  width: 25%;
  /* will not work at width 25% */
}

/* Our Luxury Rooms Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: auto;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  color: white;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* The Close Button */
.myModal-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.myModal-close:hover,
.myModal-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mySlides .column img {
  margin-bottom: -4px;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* footer */
.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  background-color: #f1faee;
}
/* FontAwesome(fa) icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.band-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.band-desc-img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

.band-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 70px;
  background-image: linear-gradient(#f1faee, #a8dadc);
}

.restaurant-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.restaurant-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 70px;
  background-image: linear-gradient(#f1faee, #a8dadc);
}

.restaurant-desc-img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

.contact-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.contact-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 70px;
  background-image: linear-gradient(#f1faee, #a8dadc);
}

.contact-desc-img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

.spacer {
  height: 100vh;
}

.has-transition_text-reveal {
  .text-reveal_wrapper {
    position: relative;
    display: inline-flex;
    overflow: hidden;

    .text-reveal {
      transform: translateY(100%);
      position: relative;
      display: block;
    }
  }
}

.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #457b9d;
  color: white;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}

.myBtn:hover {
  background-color: #e63946;
}

#map {
  height: 100%;
}

.map-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.map-desc-img {
  max-width: 100%;
  height: auto;
}

.map-container {
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 
$("#main_bg").append("<div id=\"optimizely_604049823\">...</div>");
$("#optimizely_604049823").replaceWith("<div id=\"optimizely_604049823\"><!-- TrustBox widget -->\n<div class=\"trustpilot-widget\" data-locale=\"en-US\" data-template-id=\"53aa8912dec7e10d38f59f36\" data-businessunit-id=\"53da56ff0000640005792dae\" data-style-height=\"130px\" data-style-width=\"100%\" data-theme=\"light\" data-stars=\"4,5\">\n  <a href=\"https://www.trustpilot.com/review/bluevine.com\" target=\"_blank\">Trustpilot</a>\n</div>\n<!-- End TrustBox widget --></div>");
$(".trustpilot-widget > a").css({"display":"none", "visibility":""});
$(".trustpilot-widget").replaceWith("<div class=\"trustpilot-widget\" data-locale=\"en-US\" data-template-id=\"53aa8912dec7e10d38f59f36\" data-businessunit-id=\"53da56ff0000640005792dae\" data-style-height=\"130px\" data-style-width=\"100%\" data-theme=\"light\" data-stars=\"4,5\" style=\"position: relative;\">\n  <a href=\"https://www.trustpilot.com/review/bluevine.com\" target=\"_blank\" style=\"display: none;\">Trustpilot</a>\n<iframe frameborder=\"0\" scrolling=\"no\" src=\"https://widget.trustpilot.com/trustboxes/53aa8912dec7e10d38f59f36/index.html?locale=en-US&amp;templateId=53aa8912dec7e10d38f59f36&amp;businessunitId=53da56ff0000640005792dae&amp;styleHeight=130px&amp;styleWidth=100%25&amp;theme=light&amp;stars=4%2C5\" style=\"position: relative; height: 130px; width: 100%; border-style: none; display: block; overflow: hidden;\"></iframe></div>");
$(".trustpilot-widget > iframe:eq(1)").removeAttr("src").removeAttr("srcdoc");
$(".trustpilot-widget > iframe:eq(1)").css({"display":"none", "visibility":""});
$(".trustpilot-widget > iframe:eq(1)").removeAttr("src").removeAttr("srcdoc");
$(".trustpilot-widget > iframe:eq(1)").css({"display":"none", "visibility":""});
$("#optimizely_604049823").css({"background-color":"#ffffff"});
$(".trustpilot-widget > iframe:eq(1)").removeAttr("src").removeAttr("srcdoc");
$(".trustpilot-widget > iframe:eq(1)").css({"display":"none", "visibility":""});
$("#optimizely_604049823").css({"border-spacing":"49px 90px"});
$("#optimizely_604049823").css({"border-spacing":"", "height":"130px", "margin":"0px", "padding":"90px", "clear":"both", "position":"relative", "float":"none"});
$("#optimizely_604049823").css({"display":"none", "visibility":""});
$("#wrap").append("<div id=\"optimizely_764986252\">...</div>");
$("#optimizely_764986252").replaceWith("<div id=\"optimizely_764986252\"><!-- TrustBox widget -->\n<div class=\"trustpilot-widget\" data-locale=\"en-US\" data-template-id=\"53aa8912dec7e10d38f59f36\" data-businessunit-id=\"53da56ff0000640005792dae\" data-style-height=\"130px\" data-style-width=\"100%\" data-theme=\"light\" data-stars=\"4,5\">\n  <a href=\"https://www.trustpilot.com/review/bluevine.com\" target=\"_blank\">Trustpilot</a>\n</div>\n<!-- End TrustBox widget --></div>");
$("#optimizely_764986252 a").css({"display":"none", "visibility":""});
$("#optimizely_764986252 > .trustpilot-widget").css({"background-color":"#ffffff"});
$("#optimizely_764986252 > .trustpilot-widget").css({"padding":"0px", "margin":"50px", "height":"131px"});
$("#optimizely_764986252 iframe").css({"z-index":3172000});
$("#optimizely_764986252 > .trustpilot-widget").css({"display":"none", "visibility":""});
$("#main_bg").append("<div id=\"optimizely_282050013\">...</div>");
$("#optimizely_282050013").replaceWith("<div id=\"optimizely_282050013\"><!-- TrustBox widget -->\n<div class=\"trustpilot-widget\" data-locale=\"en-US\" data-template-id=\"53aa8912dec7e10d38f59f36\" data-businessunit-id=\"53da56ff0000640005792dae\" data-style-height=\"130px\" data-style-width=\"100%\" data-theme=\"light\" data-stars=\"4,5\">\n  <a href=\"https://www.trustpilot.com/review/bluevine.com\" target=\"_blank\">Trustpilot</a>\n</div>\n<!-- End TrustBox widget --></div>");
$("#optimizely_282050013").css({"background-color":"#ffffff", "margin":"50px", "height":"130px"});
$("#optimizely_282050013 a").css({"display":"none", "visibility":""});
$("#optimizely_282050013 > .trustpilot-widget").css({"width":"100%"});
$("#optimizely_282050013 > .trustpilot-widget").css({"width":"100%", "margin":"50px", "text-align":"", "position":""});
$("#optimizely_282050013 > .trustpilot-widget").css({"margin":"0px"});
$("#optimizely_282050013").css({"width":"100%", "margin":"0px", "padding":"50px", "height":"230px", "position":"", "float":""});
$("#optimizely_282050013").css({"height":"15em", "width":"100%", "padding":"3em"});
$("#optimizely_282050013").css({"padding":"28px", "width":"100%", "height":"183px"});
$(".row").css({"margin":"", "padding":"", "height":"800px"});
$("#main_bg > .container").css({"height":"800px"});
$(".col").css({"height":"700px"});
$(".row").css({"height":"755px"});
$("#main_bg > .container").css({"height":"775px"}); */



html{
  scroll-behavior: smooth;
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  color: black;
}

.main-content-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title-from-the-left .main-title-from-the-right{
  font-size: 4em;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}


.main-content{
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content .main-content-text-box{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  /* max-width: auto; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
  font-family: "Raleway", sans-serif;

}

.main-content-text-box{
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* .main-content .main-content-text-box h3{
  font-size: 2em;
  margin-bottom: 10px;
} */
/* 
.section-title{
  font-size: 3em;
  margin-bottom: 80px;
} */

/* scroll to top button settings */

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: #457B9D;
  color: white; 
  font-family: "Raleway", sans-serif;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 20px; 
}

#myBtn:hover {
  background-color: #E63946;
}

/* scroll to top button settings end */