body {
    text-align: center;
}

h1 {
    color: green;
}

img {
    height: 450px;
    width: 1600px; 
    position: absolute;
    left: 5%;
    margin-left: -50px;
    top: 10%;
    margin-top: -50px;
}