/* Global settings */
h1, h2{
  position: relative;
  color: #000000;
  width: 800px;
  float: left;
  font-family: "Libre Baskerville", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
h3 {
  position: center;
  color: #000000;
  font-family: "Libre Baskerville", sans-serif;
 
}
* {
  box-sizing: border-box;
}

/* Welcome to text */
.main-content {
  text-align: center;
  font: "Raleway", serif;
}
/* expo logo image */
.hotel-logo-container {
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.logo-image img {
  max-width: 100%;
  height: auto;
}
/* navbar */
a {
  text-decoration: none;
  color: #92bfb1;
}
a:hover {
  background: #92bfb1;
  color: #333333;
}
.sticky {
  position: fixed;
  z-index: 10;
}
.navbar--container {
  top: 10%;
  background: #f1faee;
  height: 220px;
  width: 90px;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
}
.navbar--icon {
  margin-top: 10px;
  margin-left: 60%;
  font-size: 1em;
}
.navbar--icon:hover {
  color: #92bfb1;
  cursor: pointer;
}
.navbar--title {
  margin-left: 1%;
  margin-top: 35px;
}
.navbar--title h4 {
  writing-mode: vertical-rl;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  font-size: 0.9em;
}
.nav--open {
  height: 100vh;
  width: 300px;
  background: #f1faee;
  transition: all 0.4s ease-out;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
}
.nav--open-icon {
  text-align: right;
  padding: 20px;
}
.nav--open-icon i {
  font-size: 1.8em;
  color: #92bfb1;
}
.nav--open-icon i:hover {
  color: #333333;
  cursor: pointer;
}
.nav--open-title {
  font-family: "Raleway", serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 35%;
}
.nav--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.nav--open-menu a {
  font-size: 2em;
  font-weight: 100;
  font-family: "Raleway", serif;
  padding: 15px 0;
}
.close {
  transform: translateX(-300px);
  transition: all 0.4s ease-out;
  opacity: 0;
  z-index: 11;
}

/* Book now menu */
.booknow--open-menu a {
  text-decoration: none;
  color: #92bfb1;
}
.booknow--open-menu a:hover {
  background: #92bfb1;
  color: #333333;
}
.booknow--container {
  right: 0;
  top: 10%;
  background: #f1faee;
  height: 220px;
  width: 90px;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
}
.booknow--icon {
  margin-top: 24px;
  margin-left: 25%;
  font-size: 1em;
}
.booknow--icon:hover {
  color: #92bfb1;
  cursor: pointer;
}
.booknow--title {
  margin-left: 27px;
  margin-top: 35px;
}
.booknow--title h4 {
  writing-mode: vertical-rl;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  font-size: 0.9em;
}
.booknow--open {
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  width: auto;
  background: #ffffff;
  transition: all 0.4s ease-out;
  opacity: 1;
  box-shadow: 2px 2px 15px rgba(51, 51, 51, 0.1);
  right: 0;
}
.booknow--open-icon {
  text-align: right;
  padding: 20px;
}
.booknow--open-icon i {
  font-size: 1.8em;
  color: #92bfb1;
}
.booknow--open-icon i:hover {
  color: #333333;
  cursor: pointer;
}
.booknow--open-title {
  font-family: "Raleway", serif;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-align: center;
  margin-top: 1%;
}
.booknow--open-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}
.booknow--open-menu a {
  font-size: 2em;
  font-weight: 100;
  font-family: "Raleway", serif;
  padding: 15px 0;
}
.booknow--close {
  transform: translateX(2000px);
  transition: all 0.4s ease-out;
  opacity: 0;
}

/* booking form */
.booking-form {
  width: 500px;
  margin: 0 auto;
  padding: 50px;
  background: #fff;
}
.elem-group {
  margin-bottom: 20px;
}
label {
  display: block;
  font-weight: bold;
}
input,
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
}
button {
  background: #457b9d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Services cards */
.background {
  display: grid;
  place-items: center;
  height: 90vh;
  padding: 5vh 0 0 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1200px;
}
.img-card {
  position: relative;
  left: 0px;
  width: 120px;
  border-radius: 1em;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  transition: 0.3s ease-in-out;
  flex: 0.25;
}
.img-card img {
  min-height: 80vh;
}
.img-card:hover {
  flex: 2;
  cursor: pointer;
}

/* Lightbox */
.row > .lightbox-column {
  padding: 0 1px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.lightbox-column {
  float: left;
  width: 25%;
  /* will not work at width 25% */
}

/* Our Luxury Rooms Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: auto;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  color: white;
}
/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
/* The Close Button */
.myModal-close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.myModal-close:hover,
.myModal-close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.mySlides .column img {
  margin-bottom: -4px;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* footer */
.footer ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.footer .footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  background-color: #f1faee;
}
/* FontAwesome(fa) icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.band-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.band-desc-img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

.band-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 70px;
  background-image: linear-gradient(#f1faee, #a8dadc);
}

.restaurant-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.restaurant-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 70px;
  background-image: linear-gradient(#f1faee, #a8dadc);
}

.restaurant-desc-img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}

.contact-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.contact-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  padding: 70px;
  background-image: linear-gradient(#f1faee, #a8dadc);
}
.contact-desc-img {
  max-width: 100%;
  max-height: 100%;
  float: left;
}
.spacer {
  height: 100vh;
}
.has-transition_text-reveal {
  .text-reveal_wrapper {
    position: relative;
    display: inline-flex;
    overflow: hidden;

    .text-reveal {
      transform: translateY(100%);
      position: relative;
      display: block;
    }
  }
}
.myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #457b9d;
  color: white;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 20px;
}
.myBtn:hover {
  background-color: #e63946;
}
#map {
  height: 100%;
}
.map-desc-text {
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.map-desc-img {
  max-width: 100%;
  height: auto;
}
.map-container {
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* 
 * Optional: Makes the sample page fill the window. 
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  color: black;
}
.main-content-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-title-from-the-left .main-title-from-the-right{
  font-size: 4em;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}
.main-content{
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content .main-content-text-box{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  /* max-width: auto; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transform: translate(-80px, 50px);
  font-family: "Raleway", sans-serif;

}
.main-content-text-box{
  position: relative;
  color: #000000;
  border-style: groove;
  width: 800px;
  float: left;
  text-align: justify;
  padding: 40px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/* scroll to top button settings */
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: #457B9D;
  color: white; 
  font-family: "Raleway", sans-serif;
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 20px; 
}
#myBtn:hover {
  background-color: #E63946;
}

/* scroll to top button settings end */

/* spa hero text settings */

.spa-hero {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Images/spa hero.jpg");
  color: white;
  padding-top: 250px;
  padding-bottom: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.spa-hero-text {
  text-align: center;
  font-size: 200px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.spa-hero-text h1{
  color: white;
  text-align: center;
}

 /* spa treatment title settings - expo lounge font link - https://www.cdnfonts.com/halimun.font - maybe use as accent? */

 .spa-treatment-intro {
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.spa-intro-text {
font-family: "Raleway", sans-serif;
font-optical-sizing: auto;
font-weight:500;
font-style: normal;
text-transform: uppercase;
}

/* spa treatments card settings and hover effect settings */  

.treatment-container-one {
  display: flex;
  margin: 25px 80px 75px 80px;
}

.treatment-container-two {
  display: flex;
  margin: 25px 80px 75px 80px;
}
.col {
    transition: 0.5s;
    transition-delay: 0.1s;
    transition-timing-function: linear;
} 

.col {
  container: flex;
  text-align: center;
  cursor: pointer;
}

.col:hover {
  transform: translateY(-0.8%);
  box-shadow: 0 4rem 8rem rgba(248, 247, 247, 0.5);
}

/* treatment 'what's included section' */ 
.treatment-steps-container {
  text-align: center;
}

.treatment-steps {
  display: inline-block;
  text-align: left;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* card footer area background color */ 
.treatment-card-footer {
  background-color: #457B9D!important;
}

/*  book treatment button settings */ 
.book-treatment {
  border: 2px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/*  book now button color changes when hovered */ 
button:hover {
  background-color: #E63946;
  color: white;
}

.treatment-card-title {
  font-size: 18px;
  font-weight: bold;

}

/*  testimonials section settings */ 

.testimony {
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 2px;

}
.testimonial-container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding: 16px;
  text-align: center;
}

.header-testimonial {
  margin-bottom: 32px;
}

.testimonials-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-bottom: 32px;
}

.card-testimonial {
  padding: 32px;
  display: grid;
  gap: 16px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card-testimonial i {
  font-size: 40px;
  color: gold;
}

.card-testimonial p {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.card-testimonial img {
  width: 100px;
  height:100px;
  margin: auto;
  border-radius: 100%;
}

.card-testimonial name {
  font-size: 15px;
  font-weight: 400;
  transition: 0.3s;
}

.card-testimonial star-rating{
  display: flex;
  align-content: center; 
}

.checked {
  color: #F5A41A;
}

@media (width < 900px) {
  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media (width < 600px) {
  testimonials-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
/* spa section room booking banner */ 

.banner-tess {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("Images/spa hero.jpg");
    height: 50%;
    padding-top: 200px;
    padding-bottom: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
    position: relative;
    cursor: pointer;
}
/* text over banner settings */

.banner-text-tess {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
 }

 .banner-text-tess h1{
  color: white;
 }
  
 .room-booking {
  border: 4px;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
 }